<%- include('../partials/header') %> 
  <nav class="ui fixed inverted menu">
    <a href="/" class="header item">Accueil</a>
    <a href="/profile/<%= session.username %>" class="header item">Profile</a>
  </nav>
<div class="ui main container">
    <header>
        <% if(locals.flash && locals.flash.error){ %>
            <div class="ui negative message">
                <%= flash.error %>
            </div>
        <% } %> 
        <% if(locals.flash && locals.flash.success){ %>
            <div class="ui positiv message">
                <%= flash.success %>
            </div>
        <% } %> 
        <form action="/api/v1/post/create" method="post"  enctype="multipart/form-data" class="ui column form">
                <div class="field column">
                    <textarea name="content" id="content" cols="30" rows="5" placeholder="Your message ..."></textarea>
                
                <label for="hidden-new-file" class="ui icon button">
                    <i class="folder open icon"></i>
                    Open File
                  </label>
                  <input type="file" name="image" id="hidden-new-file" style="display: none">
                </div>
            <button type="submit" class="ui primary fluid button">Comment !</button>
        </form>
    </header>
    <main>
        <section class="ui main container" style="display: flex; align-items: center; flex-direction: column;">

            <% for(const post of posts) {%> 
                <article class="ui medium card ">
                    <div class="content">
                        <div class="right floated meta"><%= post.created_at %></div>
                        <img class="ui avatar image" src="/images/default_user.png"> <a href="/profile/<%= post.author %>"><%= post.author %></a>
                      </div>
                      <div class="image">
                        <img class="ui tiny image" src="/images/<%= post.image %>">
                      </div>
                      <div class="content">
                        <p><%= post.content %></p>
                      </div>
                </article>
            <% } %> 

           

        </section>
    </main>
<%- include('../partials/footer') %> 